@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root{
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --slate: #8892b0;
    --lite-slate: #a8b2d1;
    --litest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
}

*{
    padding: 0;margin: 0;box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}

body{
    background: var(--navy);
}

/* Navbar */
nav{
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 80px;
    backdrop-filter: blur(3px);
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav > ul > li {
    list-style: none;
}
nav > ul > a{
    color: var(--green);
    text-decoration: none;
    border: 1px solid var(--green);
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.5s;
    animation-delay: 1s;
}
nav > ul > a:hover{
    background-color: rgba(100, 255, 218, 0.1);
}
nav > ul > li:nth-child(1){
    animation-delay: 0.2s;
}
nav > ul > li:nth-child(2){
    animation-delay: 0.4s;
}
nav > ul > li:nth-child(3){
    animation-delay: 0.6s;
}
nav > ul > li:nth-child(4){
    animation-delay: 0.8s;
}
nav > ul > li > a{
    color: var(--litest-slate);
    padding: 0 20px;
    text-decoration: none;
    transition: 0.5s;
}
nav > ul > li > a:hover{
    color: var(--green);
}
nav > ul > li > a > span {
    color: var(--green);
}
nav > a{
    font-size: 1.2em;
    color: var(--green);
    text-decoration: none;
}



/* Cursor */
.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;

    animation: cursorAnim .5s infinite alternate;
    border: 1px solid var(--litest-slate);
}
@keyframes cursorAnim {
    from {
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        transform: translate(-50%, -50%) scale(.7);
    }
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid var(--litest-slate);
    opacity: 0.2;
    border-radius: 50%;
    top: -9px;
    left: -9px;

    animation: cursorAnim2 .5s infinite alternate;
}
@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

.cursor-expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid var(--green);
}

@keyframes cursorAnim3 {
    0% {
        transform:translate(-50%, -50%) scale(1);
    }
    50% {
        transform:translate(-50%, -50%) scale(3);
    }
    100%{
        transform:translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}