@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

:root{
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --slate: #8892b0;
    --lite-slate: #a8b2d1;
    --litest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
}

*{
    padding: 0;margin: 0;box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}
::selection{
    background-color: var(--green);
    color: var(--navy);
}
body{
    min-height: 100vh;
    background: var(--navy);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 100px 100px;
}

/* Navbar */
nav{
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 80px;
    backdrop-filter: blur(3px);
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav > ul > li {
    list-style: none;
}
nav > ul > a{
    color: var(--green);
    text-decoration: none;
    border: 1px solid var(--green);
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.5s;
    animation-delay: 1s;
}
nav > ul > a:hover{
    background-color: rgba(100, 255, 218, 0.1);
}
nav > ul > li:nth-child(1){
    animation-delay: 0.2s;
}
nav > ul > li:nth-child(2){
    animation-delay: 0.4s;
}
nav > ul > li:nth-child(3){
    animation-delay: 0.6s;
}
nav > ul > li:nth-child(4){
    animation-delay: 0.8s;
}
nav > ul > li > a{
    color: var(--litest-slate);
    padding: 0 20px;
    text-decoration: none;
    transition: 0.5s;
}
nav > ul > li > a:hover{
    color: var(--green);
}
nav > ul > li > a > span {
    color: var(--green);
}
nav > a{
    font-size: 1.2em;
    color: var(--green);
    text-decoration: none;
}



/* Cursor */
.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition-duration: 30ms;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;

    animation: cursorAnim .5s infinite alternate;
    border: 1px solid var(--litest-slate);
}
@keyframes cursorAnim {
    from {
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        transform: translate(-50%, -50%) scale(.7);
    }
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid var(--litest-slate);
    opacity: 0.2;
    border-radius: 50%;
    top: -9px;
    left: -9px;

    animation: cursorAnim2 .5s infinite alternate;
}
@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

.cursor-expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid var(--green);
}

@keyframes cursorAnim3 {
    0% {
        transform:translate(-50%, -50%) scale(1);
    }
    50% {
        transform:translate(-50%, -50%) scale(3);
    }
    100%{
        transform:translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}



/* Social Media | aside */
.social-media{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 300px;
    animation-delay: 2s;
}

.social-media > a{
    font-size: 20px;
    color: var(--litest-slate);
    margin: 20px 0;
    transition: .5s;
}
.social-media > a:hover{
    color: var(--green);
    transform: translate(0, -10px);
}

.email-aside{
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 300px;
    animation-delay: 2s;
}
.email-aside > a {
    transform: rotate(90deg);
    text-decoration: none;
    color: var(--litest-slate);
    transition: .5s;
}
.email-aside > a:hover{
    color: var(--green);
    transform:rotate(90deg) translate(-10px,0);
}



/* /////////////////////////////////////////////// About */
main {
    width: 100%;
    height: 70vh;
    /* background-color: var(--slate); */
    margin: 50px 0;
}
.hero{
    width: 90%;
}
.hero > p:nth-child(1){
    font-size: 20px;
    color: var(--green);
    padding: 15px 0;
}
.hero > h3 {
    font-weight: 100;
    color: var(--litest-slate);
    font-size: 60px;
    font-family: 'Monoton', cursive;
    display: flex;
    flex-direction: column;
}
.hero > h3 > span {
    color: var(--slate);
    font-size: 40px;
    font-family: 'Rubik Mono One', sans-serif;
    margin: 0 0 15px 0;
}
.hero > p {
    color: var(--slate);
    width: 60%;
    line-height: 25px;
    margin: 15px 0;
}